<section id="dashboard-view" class="mainbar container">
		 <h1>testing...</h1>
	<fieldset>
		<a ng-click="dashboard.logout()">Logout</a>
		<legend>Sort</legend>
		<div class="btn-group" isotope-sort isotope-sort-event="sort-lrj">
			<button isotope-sort-by="original-order" class="btn btn-default active">default</button>
			<button isotope-sort-by="name" class="btn btn-default">name</button>
			<button isotope-sort-by="date" class="btn btn-default">date</button>
			<button isotope-sort-by="upvote" class="btn btn-default">upvotes</button>
			<button isotope-sort-by="category" class="btn btn-default">category</button>
		</div>
	</fieldset>
	<br />
	<fieldset>
		<legend>Filter</legend>
		<div class="btn-group" isotope-filter isotope-filter-event="filter-lrj" isotope-filter-group="lrj">
			<button isotope-filter-by="*" class="btn btn-default active">show all</button>
			<button isotope-filter-by=".videos" class="btn btn-default">Videos</button>
			<button isotope-filter-by=".images" class="btn btn-default">Images</button>
			<button isotope-filter-by=".blogs" class="btn btn-default">Blogs</button>
		</div>
	</fieldset>
	<br />
	<!-- <div>
		<button class="btn btn-primary" ng-click="dashboard.add()">Add Item</button> <button class="btn btn-primary" ng-click="dashboard.clear()">Clear List</button> <button class="btn btn-primary" ng-click="dashboard.reset()">Reset List</button>
	</div> -->

	<br />
<!-- attributes available: isotope-layout-mode="fitRows" isotope-item-selector="div" -->
	<ul class="container posts" isotope-grid="elementsList" isotope-reload-event="reload-elements" isotope-sort-event="sort-lrj"
	 isotope-filter-event="filter-lrj"
	 isotope-sort-data="{ name: '.name','date': '.date parseInt', 'upvote': '.upvote parseInt', 'category': '[data-category]'}">
		<li class="row col-xs-12">
			<div class="post-item {{post.filter}} col-md-4" data-category="{{post.category}}" ng-repeat="post in dashboard.posts">
				<p class="name">{{post.name}}</p>
				<p class="date">{{post.date}}</p>
				<p class="upvote">{{post.upvote}}</p>
			</div>
		</li>
	</li>
</section>