<div class="container">
	<div ng-if="home.isAuthenticated() && currentUser.username">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="post in home.posts" >
				<div class="thumbnail">
					<div class="poster">
						<span class="avatar">
							<img src="http://placehold.it/100x100" class="avatar img-circle" width="30">
						</span>
						<span class="name"><a href="">{{post.author}}</a></span>
					</div>
					<img src="http://placehold.it/500x300" class="image" alt="">
					<div class="caption">
						<h4>{{ post.name }}</h4>
						<p>{{post.description}}</p>
						<p><i class="fa fa-thumbs-up"></i> &nbsp; <i class="fa fa-thumbs-down"></i> </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="!home.isAuthenticated()">
		<header class="header">
	        <div class="container">
	          <div class="row">
	            <div class="col-md-5 col-md-offset-1">
	                <div class="content">
	                  <div class="pull-middle">
	                    <h1 class="page-header">Saw something? Amazed? Take a picture and upload or write it here!</h1>
	                    <p class="lead">It's a totally differect social network.</p>
	                    <div class="panel panel-default">
	                        <div class="panel-body">
	                            <form action="#" role="form">
	                                <div class="input-group">
	                                    <input type="email" class="form-control" placeholder="Email Address" required>
	                                    <span class="input-group-btn">
	                                      <button class="btn btn-success btn-circle" type="submit">Sign up for free</button>
	                                    </span>                        
	                                </div>
	                            </form>
	                        </div>
	                    </div>
	                  </div>              
	                </div>
	            </div>
	            <div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
	                <div class="phone">
	                    <img class="img-responsive img-rounded" src="http://placemi.com/g/263x480">
	                </div>
	            </div>
	          </div>
	        </div>
    	</header>
	    <section class="section">
	        <div class="container">
	            <div class="row">
	               <div class="col-md-4 col-md-offset-1 text-center mt-100 mb-100">
	                    <div class="phone">
	                        <img class="img-responsive img-rounded" src="http://placemi.com/g/263x480">
	                    </div>
	                </div>
	                <div class="col-md-5 col-md-offset-1">
	                    <div class="content">
	                        <div class="pull-middle">
	                            <h2 class="h1 page-header">Discover more about features.</h2>
	                            <ul class="media-list">
	                              <li class="media">
	                                <a class="media-left" href="#">
	                                  <span class="glyphicon glyphicon-cloud icon text-success"></span>
	                                </a>
	                                <div class="media-body">
	                                  <h3 class="media-heading">Praesent porttitor urna ut enim.</h3>
	                                  <p>Maecenas vitae ex iaculis, efficitur est eu, fermentum quam.</p>
	                                </div>
	                              </li>
	                              <li class="media">
	                                <a class="media-left" href="#">
	                                  <span class="glyphicon glyphicon-lock icon text-success"></span>
	                                </a>
	                                <div class="media-body">
	                                  <h3 class="media-heading">Cras consequat est et elit.</h3>
	                                  <p>Integer suscipit massa at tellus semper, at aliquam ante bibendum.</p>
	                                </div>
	                              </li>
	                              <li class="media">
	                                <a class="media-left" href="#">
	                                  <span class="glyphicon glyphicon-user icon text-success"></span>
	                                </a>
	                                <div class="media-body">
	                                  <h3 class="media-heading">Aenean vel enim quis dui blandit.</h3>
	                                  <p>Maecenas vitae ex iaculis, efficitur est eu, fermentum quam.</p>
	                                </div>
	                              </li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
	    <section class="section">
	        <div class="container">
	            <div class="row">
	                <div class="col-md-3 text-right">
	                    <div class="content">
	                        <div class="pull-middle">
	                            <h4><strong>Describe your product.</strong></h4>
	                            <p>Proin sapien neque, consequat ac tempus aliquam, gravida in urna. Phasellus et lectus in odio imperdiet tempus. Aenean posuere, nunc a tristique imperdiet, massa dolor dictum eros, sit amet tempor turpis turpis vel tortor.</p>
	                            <small>Phasellus feugiat at lorem a tincidunt. Nam hendrerit leo vitae orci pellentesque, nec euismod dolor condimentum.</small>
	                        </div>
	                    </div>
	                </div>
	               <div class="col-md-4 col-md-offset-1 mt-100 mb-100">
	                    <div class="phone">
	                        <img class="img-responsive img-rounded" src="http://placemi.com/g/263x480">
	                    </div>
	                </div>
	                <div class="col-md-3 col-md-offset-1">
	                    <div class="content">
	                        <div class="pull-middle">
	                            <h4><strong>Even more stuff.</strong></h4>
	                            <p>Proin sapien neque, consequat ac tempus aliquam, gravida in urna. Phasellus et lectus in odio imperdiet tempus. Aenean posuere, nunc a tristique imperdiet, massa dolor dictum eros, sit amet tempor turpis turpis vel tortor.</p>
	                            <a class="btn btn-success btn-circle" href="#">Sign up for free</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
		</div>

	<div ng-if="home.isAuthenticated() && !currentUser.username" class="center-form panel">
		<div class="panel-body">
			<h5 class="text-center"><i class="ion-link"></i> Link Account</h5>
			<p>To complete the registration process you must verify your account.</p>
			<button class="btn btn-block btn-instagram" ng-click="linkInstagram()">
				<i class="fa fa-google"></i> Verify Account
			</button>
		</div>
	</div>
</div>