<div class="container">
	<div ng-if="home.isAuthenticated() && currentUser.username">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="post in home.posts" >
				<div class="thumbnail">
					<img src="http://placehold.it/500x300" alt="">
					<div class="caption">
						<h4>{{ post.name }}</h4>
						<p>{{post.details}}</p>
						<p><i class="fa fa-thumbs-up"></i> &nbsp; <i class="fa fa-thumbs-down"></i> </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="!home.isAuthenticated()">
		<div class="jumbotron">
			<h1>#lrj</h1>
			<p>#lrj totally different social network.</p>
			<p>
				<a class="btn btn-lg btn-success" ui-sref="login"><i class="ion-log-in"></i> Log in</a>
				<a class="btn btn-lg btn-primary" ui-sref="signup"><i class="ion-person-add"></i> Create account</a>
			</p>
		</div>
	</div>

	<div ng-if="home.isAuthenticated() && !currentUser.username" class="center-form panel">
		<div class="panel-body">
			<h5 class="text-center"><i class="ion-link"></i> Link Account</h5>
			<p>To complete the registration process you must verify your account.</p>
			<button class="btn btn-block btn-instagram" ng-click="linkInstagram()">
				<i class="fa fa-google"></i> Verify Account
			</button>
		</div>
	</div>
</div>